/*
	Author: James Colannino
	Email: crankycyclops@gmail.com

	Based on the following project:
	http://uniondesign.ca/simple-accordion-without-jquery-ui/

	This is free and unencumbered software released into the
	public domain. See LICENSE for more details.
*/

.accordion {}

.accordion-item {
	padding-top: 8px;
	padding-bottom: 8px;
	margin-top: 5px;
	width: 100%;
}

.accordion-toggle {
	cursor: pointer;
}

.accordion-content {
	margin-top: 20px;
	padding-bottom: 4px;
	display: none;
}

.accordion-content p {
	font-size: 0.9em;
	margin-right: 10px;
	margin-top: 10px;
	color: #444444;
}

.accordion-content.default {
	display: block;
}
